@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Trash Collector!</h1>
    <p>To create an account click on register to the top right, or login to view your specialized home page!</p>
</div>
